<h1>bmi page</h1>
<form method="post" action="/bmi">
    height in inches<input type="number" step="0.01" name="height">
    <br>
    weight in lb<input type="number" step="0.01" name="weight">
    <input type="submit">
</form>