<h1>dist page</h1>
3d Distance calculator
<form method="post" action="/dist">
    x:<input type="number" step="0.01" name="x">
    <br>
    y:<input type="number" step="0.01" name="y">
    <br>
    z:<input type="number" step="0.01" name="z">
    <input type="submit">

</form>