

    <p>Welcome to Grant's  app!!!???</p>
    Here is my <a href="/bio">bio</a>
    <a href="/simpleform">go to simple form</a>
    <br>
    <a href="/bmi">go to bmi</a>
    <a href="/dist">go to dist calculator</a>
    <a href="/myApiDemo">go to my api demo</a>

