<!DOCTYPE html>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  .marvelfont{
    font-family:"Bebas Neue",sans-serif;
    font-size:40px;
    color: rgb(107, 55, 55);
    text-align: center;
  }
</style>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    
  </head>
  <body class="container" style="background:grey;">
    
    <nav class="navbar navbar-expand-lg bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/MarvelMain">Main</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Marvel">Character</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/MarvelComics">Comics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/creators">Creators</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/UserProfile">Your profile</a></li>
                <li><a class="dropdown-item" href="/UserTeam">Build your team</a></li>
                <!-- <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Edit your profile</a></li> -->
              </ul>
            </li>
            <% if (!loggedIn) {%>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login/Signup</a>
              </li>
              <% } else { %>
              
                
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout <%= username %></a>
                </li>
              <% } %>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2 bg-secondary" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success bg-danger font-size: 2rem" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
    <p class="marvelfont">Everything about Marvel app</p>
    <%- body %>
  </body>
</html>