<style>
        img {
    max-width: 100%;
    max-height: 100%;
}

</style>
<head class="p-3 mb-2 bg-dark text-warning">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
     h1{
         font-family: 'Josefin Sans', sans-serif;
         color:rgb(26, 37, 87);
         text-align: center;}
      
     </style>
    <h1>Welcome to Everything about Marvel.   </h1>
    
    

</head>
<body>
    <img src="https://wallpaperaccess.com/full/342019.jpg" alt="MarvelLogo" class="center">
</body>

