

<head class="p-3 mb-2 bg-dark text-warning">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
     h1{font-family: 'Josefin Sans', sans-serif;}
      
     </style>
    <h1>Hello   </h1>


</head>
<body>
    <hr>
    <h1>welcome!</h1>
</body>