<h1>Simple form</h1>
<form method="post" action="/simpleform">
    fullname <input type="text" name="username">
    <br>
    age<input type="number" name="age">
    <br>
    height in inches<input type="number" step="0.01" name="height">
    <br>
    weight in lb<input type="number" step="0.01" name="weight">
    <input type="submit">
</form>